@page
@model RazorHotelDBasync.Pages.Hotels.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
<h3>Delete</h3>

<h3>Are you sure you want to delete this customer?</h3>
<div>
    <hr />
    <form method="post">
       
        <div class="form-group">
            <label asp-for="@Model.Hotel.HotelNr" class="control-label"></label>
            <input asp-for="@Model.Hotel.HotelNr" readonly class="form-control" />
           
        </div>
        <div class="form-group">
            <label asp-for="@Model.Hotel.Navn" class="control-label"></label>
            <input asp-for="@Model.Hotel.Navn" readonly class="form-control" />
            
        </div>

        <div class="form-group">
            <label asp-for="@Model.Hotel.Adresse" class="control-label"></label>
            <input asp-for="@Model.Hotel.Adresse" readonly class="form-control" />
            
        </div>
        <div class="@(Model.InfoText.Contains("Error") ? "alert alert-danger":"")" role="alert">
            @(Model.InfoText.Contains("Error") ? Model.InfoText :"")
        </div>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="GetAllHotels">Back to List</a>
    </form>
</div>
